@font-face {
  font-family: "norsebold";
  src: url("fonts/norse-bold-webfont.woff2") format("woff2"),
    url("fonts/norse-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/******************
    RESET
******************/

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
em,
img,
strong,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption,
footer,
header,
output {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
footer,
header {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}

/******************
    VARIABLES
******************/

html {
  --color-light-grey: rgb(250, 250, 250);
  --color-form-grey: rgb(255,255,255);
  --color-shadow-grey: rgb(225, 225, 225);
}

/******************
    MAIN
******************/

body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--color-light-grey);
  font-family: Helvetica, Arial, sans-serif;
}

.left-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: url(images/halie-west-25xggax4bSA-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  flex: 0 1 0;
  min-width: 540px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: rgba(0, 0, 0, .4);
  margin-top: 192px;
  height: 15%;
  width: 100%;
}

.odin-icon {
  max-width: 100%;
  max-height: 90%;
}

h1 {
  font-family: "norsebold";
  font-size:  5.5em;

}

h1,
.caption {
  color: white;
}

.caption {
  
  font-size: .75em;
  margin-bottom: 10px;
}

.caption,
.caption > a {
  color: white;
  opacity: .9;
}

.right-side {
  flex: 2 1 0;
  display: flex;
  flex-direction: column;
  max-width: 900px;
}

section {
  flex: 1 1 0;
  font-size: 1.5em;
  line-height: 1.2em;
  font-weight: 500;
  padding: 160px 180px 60px 40px;
}

em {
  font-style: italic;
}

.p3 {
  margin-top: 16px;
}

form {
  background-color: var(--color-form-grey);
  box-shadow: 0 10px 5px -5px var(--color-shadow-grey), 10px 10px 5px -5px var(--color-shadow-grey);

  flex: 1 1 10%;
}

footer {
  flex: 1 1 0;
}

@media only screen and (max-width: 1080px) {
  body {
    flex-direction: column;
  }

  .left-side {
    height: 100vh;
    flex: 0 0 auto;
    min-width: 0;
  }

  .right-side {
    height: 100vh;
    flex: 0 0 auto;
  }
}